  body{ background-image:url('../fotos/fo.jpg');background-attachment:fixed;}
  p{font-size:24px;}
  h1{font-family:Times New Roman;font-size: 350%;}
  span{font-size: 30px;}
  #margin{ margin: 0% 10% 0% 10%;}
  .ulto{
     margin: 5% 10% 5% 10%;
     border: 1px solid #ccc;
     padding:0px 10px 10px 10px;
   }
     #cuadro{
    width: 100%;  
    border: 0;
    height:227px;
  }