 <!DOCTYPE html>
 <html lang="es">
 <head>
  <title>head</title>
  <link rel="stylesheet" type="text/css" href="../css/head.css">
 </head>
 <body>
 	<div id="margin">
 	<center>
 	   <h1><span id="perros">PERROS </span><span id= "en">EN</span> <span id = "venta"> VENTA </span> </h1>
       <h2> 
          <span class= "se">se</span><span id="vende" ><strong> venden </strong> </span><span class= "se"> caninos que buscan hogar </span> 
       </h2>
    </center>
        <ul>
        <li>
            <a href="#INICIO"> INICIO </a>
        </li>
        <li>
            <a href="#HISTORIA"> HISTORIA </a>
        </li>
        <li>
            <a href="#AMIGUITOS"> AMIGUITOS </a>
        </li>

   </ul>
    </div>
 </body>
